.house-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.house-title{
    font-size: 2rem;
    font-weight: bold;
}

.house-title-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: .5rem; */
}

.btn-wrapper,
.title-content-left{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.reviews-per-month{
    font-weight: bold;
}

.number-of-reviews,
.location{
    text-decoration: underline;
    font-weight: bold;
}

.btn-wrapper{
    margin-right: 1rem;
}

.share-btn,
.save-btn{
    background-color: #28282B;
    padding: .4rem;
    color: #fff;
    border-radius: .4rem;
    cursor: pointer;
}

.room-info{
    display: flex;
    gap: .5rem;
    border-bottom: solid 1px #28282B;
}

.reserve-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px 0 grey;
    width: auto;
}

.price-tag{
    display: flex;
}

.picture-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.house-price{
    font-size: 2rem;
    font-weight: bold;
}

.house-price span{
    font-size: 1rem;
}

.price-main-wrapper{

}

.price-wrapper{
    display: flex;
    gap: .5rem;
}

.content-star{
    width: 1rem;
    height: 1rem;
}

.house-image{
    width: 40%;
}

.reserve-btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.number-of-guest,
.number-of-nights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.reserve-btn{
    background-color: #FF5A5F;
    color: #fff;
    font-weight: bold;
    padding: 1rem 5rem;
    width: fit-content;
    border-radius: .5rem;
    cursor: pointer;
}

.price-main-wrapper{
    display: flex;
    flex-direction: column;
}

.shopping-cart{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* border-radius: 2rem; */
    transition: all .15s ease-in-out;
}

.total-price{
    border-top: solid 1px #28282B;
    font-weight: bold;
    font-size: 1.2rem;
}

.cart-icon-wrapper{
    display: flex;
}

.cart-icon-wrapper::after{
    content: "0";
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: .7rem;
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(20px,-5px);
    background-color: #FF5A5F;
    border-radius: 1rem;
    z-index: 15;
}

.shopping-cart:hover{
    box-shadow: 0 0 4px 0 rgb(151, 151, 151);
}