@import "@/styles/mixins.scss";

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #76767650;
    min-height: 50px;

    @include sm-down {
        padding-top: 20px;
        justify-content: center;
        min-height: auto;
    }

    ul {
        padding: 0;
        margin: 0 80px;
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        gap: 10px;
    }
}